/* Utils */
/*
    @name: Breakpoints
    @description: Breakpoint variables for desktop-xs, desktop-s, desktop-m and desktop-xl
*/
/*
    @name: Mixins
*/
/* Components */
.room-title {
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
}
/* Layout */
body,
p,
div,
span {
  font-family: 'Marvel', sans-serif;
}
#s4-workspace {
  background-color: #999;
}
#contentBox {
  margin: 0;
  padding: 0;
}
/*
    @name: contentRow
*/
#contentRow {
  margin-left: 10px;
  padding-top: 0px;
}
.danger-dashboard {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7e7e7e;
}
.angular-google-map-container {
  height: 400px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Marvel', sans-serif;
}
a:hover {
  text-decoration: none;
}
/*
    @name: navigation
*/
#s4-titlerow .ms-core-navigation .ms-listMenu-editLink {
  display: none;
}
.ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {
  padding: 8px 20px;
}
#sideNavBox {
  display: none;
}
#DeltaSiteLogo {
  display: none;
}
#s4-titlerow {
  display: none;
}
/* Page Components */
/*@import 'pages/heropage.less'*/
/* Vendors */
