

.hero-page {
    .hero-img {
        border-radius: 50%;
        border:solid 5px white;
        position:absolute;
        left:0;
        top:80px;
    }
    .hero-desc {
        background:rgb(255,255,255,0.8);
        width:40%;
        position:absolute;
        right:0;
        top:80px;
        color:#333;
    }
    
}