.pzl-hero-maincontent{
    .row{
    min-height: 200px;
    margin: 10px 0;
    background: #fafafa;
    padding: 10px 20%;
    }
    .half
    {
        width:49%;
        display: inline-block;
    }
    
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    .pzl-hero-header{
               img{
                    max-width: 200px;
                    border: 2px solid #eee;
                    max-height: 200px;
                    float: right;
                    margin-right:40px;                    
               }
               .pzl-hero-desc{
                    max-width: 40%;
                    display: inline-block;
                    font-size: 16px;
               }
    }
    .pzl-hero-stats{
        .pzl-hero-stat{
            max-width:33%;
            display: inline-block;
        }
    }
    .pzl-hero-items{
       > div{
       max-width: 50%;
       display: inline-block;   
       }
    }
    .pzl-hero-oprooms{
        
    }
    .pzl-hero-media{
        
    }
}