.pzl-hero-maincontent{
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 28px;
    }
    .pzl-hero-header{

    }
    .pzl-hero-stats{
        .pzl-hero-stat{
            max-width:33%;
        }
    }
    .pzl-hero-items{
        
    }
    .pzl-hero-oprooms{
        
    }
    .pzl-hero-media{
        
    }
}