/* Hide SharePoint stuff on front page*/
#sideNavBox {
    display: none;
}
#DeltaSiteLogo {
    display: none;
}
#contentBox {
    margin-left: 0;
}
/* danger room styling*/
.room-title {
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
}
.danger-dashboard {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7e7e7e;
}
body, p, h1, h2, h3, h4, div, span {
    font-family: 'Marvel', sans-serif;
}