#contentBox {
margin:0;
padding:0;
}

.container{
    position:relative;
    margin:0 auto;
    height:590px;
    overflow: hidden;
    padding:0 10%;
    &.comicblue {
        background: url(../img/comicstripbackground.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
